{% extends 'index.html' %}

{% block content %}


{% for m in messages %}
  {{m}}
{% endfor %}


  <h1 style="text-align:left;float:left;">E-procurement website's information</h1>
  <table style="width:100%">
    <tr>
      <th>Userame: </th>
      <td>e-procurement</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>info@procurement.org</td>
    </tr>
    <tr>
      <th>Web ID:</th>
      <td>https://demo-pondersource-net/e-procurement</td>
    </tr>
    <tr>
      <th>Peppol ID:</th>
      <td>zGWWzIbkhFoCXVompg36</td>
    </tr>
  </table>

{% endblock content %}
